@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v18-latin_cyrillic-italic.woff2') format('woff2'),
       url('../fonts/open-sans-v18-latin_cyrillic-italic.woff') format('woff'); 
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'),
       url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --violet: #9D5CD0;
  --new-violet: #885BC7;
  --gray-light: #CACACA;
  --light: #ECECEC;
  --gray: #999;
  --gray-dark: #333;
  --main-size: 16px;
  --main-padding: 50px;
  --padding-mobail: 15px;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

a {
	color: inherit;
	text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
}

body *:focus {  
  outline: 2px solid #7943A4;
  outline-offset: 2px;
}

ul {
  margin: 0;
	padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1700px;
  padding: 0px 50px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.btn {
  position: relative;
  padding: 15px 33px;
  border: 2px solid var(--violet);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.btn:focus {
  outline: none;
}

.btn::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 104.5%;
  height: 113%;
}

.btn:focus::before {
  border: 2px solid #C283F3;
  border-radius: 100px;
}

.btn:hover {
  background-color: var(--violet);
}

.btn:active {
  border: 2px solid #D1A9F0;
  background-color: #7943A4;
}

.text {
  font-size: var(--main-size);
  line-height: 32px;
  color: #333;
}

.fixed-page{
  overflow: hidden;
}

.second-title {
  margin: 0 0 17px 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--gray-dark);
}

.third-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--gray-dark);
}

.main-header {
  max-width: 100%;
  background-color: var(--black);
}

.main-header__container {
  padding-top: 28px;
  padding-bottom: 24px;
}

.search,
.burger {
  display: none;
  padding: 0;
}

.search__img {
  width: 29px;
  height: 28px;
}

.burger__img {
  width: 36px;
  height: 28px;
}

.logo {
  margin-right: auto;
}

.logo__img {
  padding-top: 2px;
  width: 173px;
}

.main-header__list {
  display: flex;
  margin-bottom: 5px;
  font-weight: 600;
}

.main-header__item:not(:last-child) {
  margin-right: 62px;
}

.main-header__enter {
  margin-left: auto;
  padding-left: 94px;
  margin-bottom: 4px;
}

.main-header__enter-link {
  position: relative;
  padding: 0 0 0 25px;
  transition: color 0.2s ease-in-out;
}

.main-header__link {
  transition: color 0.2s ease-in-out;
}

.main-header__enter-link::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 5px;
  top: 6px;
  margin-right: 7px;
  width: 13px;
  height: 13px;
  background: url(../img/Vector.svg) no-repeat;
  transition: background-image 0.2s ease-in-out;
}

.main-header__enter-link:hover,
.main-header__link:hover,
.art-direction__btn:hover {
  color: #C283F3;
}

.main-header__enter-link:hover::after {
  background: url(../img/Vectorhover.svg) no-repeat;
}

.main-header__enter-link:active,
.main-header__link:active,
.art-direction__btn:active {
  color: var(--violet);
}

.main-header__enter-link:active::after {
  background: url(../img/Vectoractive.svg) no-repeat;
}

.secondary-header {
  position: relative;
  padding: 21px 0 21px 0;
  max-width: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 2;
}

.art-direction:not(:last-child) {
  margin-right: 92px;
}

.art-direction:last-child {
  margin-right: auto;
}

.art-direction {
  position: relative;
  z-index: 2;
}

.art-direction__btn {
  padding-right: 15px;
  color: var(--white);
  transition: color 0.2s ease-in-out;
}

.art-direction__btn::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 8px;
  margin-left: 4px;
  padding: 0 0;
  height: 6px;
  width: 6px;
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: border-left 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}

.art-direction__btn:hover:after {
  border-left: 1px solid #C283F3;
  border-bottom: 1px solid #C283F3;
}

.art-direction__btn:active:after {
  top: 12px;
  border-left: 1px solid var(--violet);
  border-bottom: 1px solid var(--violet);
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.active.art-direction__btn::after {
  top: 12px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.art-direction__btn:focus {
  outline: 2px solid #7943A4;
}

.secondary-header__art-direction-list {
  margin-left: -7px;
}

.art-direction__artists-list {
  position: absolute;
  display: none;
  left: -50px;
  top: 47px;
  padding-right: 20px;
  height: 300px;
  width: 300px;
  border-top: 40px solid rgba(0, 0, 0, 0);
  border-bottom: 40px solid rgba(0, 0, 0, 0);
  border-left: 40px solid rgba(0, 0, 0, 0);
  border-right: 20px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, .4);
}

.art-direction__artists-list_active {
  display: block;
}

.art-direction__artists-item {
  position: relative;
  min-width: 220px;
  min-height: 40px;
  padding: 10px;
  background: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.art-direction__artists-item:not(:last-child) {
  margin-bottom: 20px;
}

.art-direction__artist-link:focus {
  outline: none;
}

.art-direction__artist-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 94%;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: border 0.2s ease-in-out;
}

.art-direction__artist-link:hover::before {
  border: 2px solid var(--violet);
}

.art-direction__artist-link:active::before {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 33px;
}

.simplebar-horizontal {
  display: none;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--black);
}

.simplebar-scrollbar:before {
  border-radius: 0;
  left: 0;
  right: 0;
  background-color: var(--violet);
  opacity: 1;
  transition: none;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.secondary-header__search {
  position: relative;
  margin-left: auto;
  z-index: 2;
}

.secondary-header__search-form:hover .secondary-header__search-input {
  border-bottom: 1px solid #C283F3;
  transition: border-bottom 0.2s ease-in-out;
}

.secondary-header__search-input:focus,
.secondary-header__search-input:active {
  caret-color: #C283F3;
}

.secondary-header__search-btn {
  position: absolute;
  top: 6px;
  left: -32.7px;
  width: 22px;
  height: 22px;
  background: url(../img/Search.svg) no-repeat;
  transition: background-image 0.2s ease-in-out;
}

.secondary-header__search-btn::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -2px;
  width: 105%;
  height: 105%;
}

.secondary-header__search-btn:focus::before {
  border: 2px solid var(--violet);
}

.secondary-header__search-btn:focus {
  outline: none;
}

.secondary-header__search-input:focus .secondary-header__search-btn,
.secondary-header__search-form:hover .secondary-header__search-btn,
.secondary-header__search-btn:hover {
  background: url(../img/Searchvilet.svg) no-repeat;
}

.secondary-header__search-input {
  width: 218px;
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

.secondary-header__search-input::placeholder {
  color: var(--white);
}

.secondary-header__search-input:active::placeholder,
.secondary-header__search-input:focus::placeholder {
  color: rgba(0, 0, 0, 0);
}

.banner__text {
  margin: 0 0 91px 0;
  max-width: 37%;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.banner {
  position: relative;
  overflow: hidden;
  top: -75px;  
  width: 100%;
  min-height: 705px;
}

.banner__block {
  padding: 146px 50px 122px 50px;
}

.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  z-index: -2;
  background: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 1920.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  animation: loader 5s ease-in-out 1s infinite alternate;
}

@keyframes loader {
  0% {transform:scale(1, 1)}
  100%{transform:scale(1.3, 1.3)}
}

.banner__headline {
  margin-left: -5px;
  margin-bottom: 19px;
  max-width: 8em;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
}

.banner__btn {
  position: relative;
  display: inline-block;
  padding: 20px 33px;
  border: 3px solid var(--violet);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  background-color: var(--violet);
  transition: border 0.3s ease-in-out;
}

.banner__btn:hover {
  border: 3px solid #D1A9F0;
}

.banner__btn:focus {
  outline: none;
}

.banner__btn::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  width: 104%;
  height: 117%;
}

.banner__btn:focus::before {
  border: 2px solid #C283F3;
  border-radius: 100px;
}

.banner__btn:active {
  border: 3px solid #D1A9F0;
  background-color: #7943A4;
}

.about {
  padding-top: 5px;
  padding-bottom: 69px;
}

.about__text {
  margin: 0;
  max-width: 67.8%;
}

.gallery {
  padding: 80px 0;
  max-width: 100%;
  background: url(../img/galleryfon.jpg) no-repeat;
  background-size: cover;
}

.gallery__container {
  position: relative;
  display: flex;
}

.gallery__title {
  color: var(--white);
}

.gallery__text {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.gallery__text_filter {
  margin-bottom: 7px;
}

.gallery__text_authorization {
  position: absolute;
  bottom: -10px;
  max-width: 400px;
}

.gallery__form {
  align-items: flex-start;
  flex-direction: column;
  margin-right: auto;
  width: 25%;
  color: var(--white);
}

.gallery__link {
  transition: color 0.2s ease-in-out;
}

.gallery__link:hover {
  color: var(--violet);
}

.gallery__link:active {
  color: #7943A4;
}

.choices {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--white);
  font-size: 16px;
  z-index: 3;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices__item {
  padding: 3.6px 15px;
}

.choices__list--dropdown .choices__item {
  padding: 7px 20px;
}

.choices__list--dropdown {
  border-radius: 6px;
  border: 1px solid var(--gray);
  color: var(--gray);
  background-color: rgba(0, 0, 0, 0);
}

.choices__inner {
  padding: 0;
  min-height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices__item--choice.is-selected {
  display: none;
}

.choices__item--choice:not(:last-child) {
  border-bottom: 1px solid var(--gray);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
}

.choices[data-type*=select-one]::after {
  content: '';
  height: 7px;
  width: 7px;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid var(--white);
  border-right: 1px solid var(--white);
  right: 16px;
  transform: rotate(45deg);
}

.choices[data-type*=select-one].is-open::after {
  margin-top: 0;
  border-color: var(--white);
  transform: rotate(-135deg);
}

.gallery__swiper {
  margin-left: 20px;
  max-width: 75%;
}

.gallery__swiper-container {
  max-width: 1150px;
  max-height: 835px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  width: 26px;
  height: 26px;
  border: 2px solid #666;
  border-radius: 50%;
  background-color: #666;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.swiper-button-prev:focus:after,
.swiper-button-next:focus:after {
  border: 2px solid #7943A4 ;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  border: 2px solid var(--violet);
  background-color: var(--violet);
}

.swiper-button-prev:active:after,
.swiper-button-next:active:after {
  border: 2px solid #D1A9F0 ;
  background-color: #7943A4;
}

.gallery__arrow {
  position: relative;
  top: -3.5px;
  left: 12px;
}

.gallery__arrow_next {
  left: 10px;
}

.gallery__arrow_prev::after,
.gallery__arrow_next::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-top: 1px solid var(--white);
  border-left: 1px solid var(--white);
  border-bottom: none;
  border-right: none;
  transform: rotate(-45deg);
}

.gallery__arrow_next::after {
  transform: rotate(135deg);
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin-top: 0;
  height: 30px;
  width: 30px;
  flex-direction: row;
  color: var(--white,var(--white));
}

.gallery__slide {
  position: relative;
  min-width: 150px;
  min-height: 350px;
  background: rgba(0, 0, 0, .5);
}

.gallery__slide:focus {
  outline: 3px solid #7943A4;
  outline-offset: -3px;
}

.gallery__slide::before {
  content: '';
  position: absolute;
  top: 7.14%;
  left: 7.14%;
  height: 85.71%;
  width: 85.71%;
  z-index: 2;
}

.gallery__slide::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
}

.gallery__slide:active:before,
.gallery__slide:hover:before {
  background: url(../img/loop.svg) no-repeat 50% 50% rgba(0, 0, 0, .5);
}

.gallery__slide:active::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  outline: 2px solid #D1A9F0;
  outline-offset: -2px;
}

.swiper-slide_img1 {
  background: url(../img/1.jpg) no-repeat 50% 50%;
}
.swiper-slide_img2 {
  background: url(../img/2.jpg) no-repeat 50% 50%;
}
.swiper-slide_img3 {
  background: url(../img/3.jpg) no-repeat 50% 50%;
}
.swiper-slide_img4 {
  background: url(../img/4.jpg) no-repeat 50% 50%;
}
.swiper-slide_img5 {
  background: url(../img/5.jpg) no-repeat 50% 50%;
}
.swiper-slide_img6 {
  background: url(../img/6.jpg) no-repeat 50% 50%;
}
.swiper-slide_img7 {
  background: url(../img/7.jpg) no-repeat 50% 50%;
}
.swiper-slide_img8 {
  background: url(../img/8.jpg) no-repeat 50% 50%;
}
.swiper-slide_img9 {
  background: url(../img/9.jpg) no-repeat 50% 50%;
}
.swiper-slide_img10 {
  background: url(../img/10.jpg) no-repeat 50% 50%;
}
.swiper-slide_img11 {
  background: url(../img/11.jpg) no-repeat 50% 50%;
}
.swiper-slide_img12 {
  background: url(../img/12.jpg) no-repeat 50% 50%;
}
.swiper-slide_img13 {
  background: url(../img/13.jpg) no-repeat 50% 50%;
}
.swiper-slide_img14 {
  background: url(../img/14.jpg) no-repeat 50% 50%;
}
.swiper-slide_img15 {
  background: url(../img/15.jpg) no-repeat 50% 50%;
}
.swiper-slide_img16 {
  background: url(../img/16.jpg) no-repeat 50% 50%;
}
.swiper-slide_img17 {
  background: url(../img/17.jpg) no-repeat 50% 50%;
}
.swiper-slide_img18 {
  background: url(../img/18.jpg) no-repeat 50% 50%;
}

.swiper-slide_img1, 
.swiper-slide_img2, 
.swiper-slide_img3,
.swiper-slide_img4,
.swiper-slide_img5,
.swiper-slide_img6,
.swiper-slide_img7,
.swiper-slide_img8,
.swiper-slide_img9,
.swiper-slide_img10,
.swiper-slide_img11,
.swiper-slide_img12,
.swiper-slide_img13,
.swiper-slide_img14,
.swiper-slide_img15,
.swiper-slide_img16,
.swiper-slide_img17,
.swiper-slide_img18 {
  background-size: cover;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

.swiper-button-prev {
  margin-right: 20px;
}

.gallery__navigation {
  display: flex;
  flex-direction: row;
  margin: 25px 0 28px 0;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper-pagination {
  position: static;
  margin-right: 20px;
  font-size: 16px;
  line-height: 32px;
}

.swiper-pagination-fraction {
  width: auto;
}

.catalog {
  padding-top: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--gray-dark);
}

.catalog__headline {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.catalog__text {
  margin-top: 0;
  margin-bottom: 39px;
  max-width: 68%;
}

.catalog__accordion {
  width: 50%;
  z-index: 10;
}

.accordion__title-years {
  margin: 0;
}

.accordion__item {
  width: 100%;
  border-bottom: 1px solid #CACACA;
  transition: border-bottom 0.2s ease-in-out;
}

.accordion__item:focus {
  outline: 2px solid #7943A4;
  outline-offset: 7px;
}

.accordion__item:first-child {
  border-top: 1px solid #CACACA;
}

.accordion__item:hover {
  border-bottom: 1px solid var(--violet);
}

.accordion__item:active {
  border-bottom: 1px solid #7943A4;
}

.accordion__years {
  width: 100%;
  padding: 27px 0 35px 0;
  border-top: 1px solid rgba(0, 0, 0, 0);
  transition: border-top 0.2s ease-in-out;
}

.accordion__years:focus {
  outline: none;
}

.accordion__years:hover {
  border-top: 1px solid var(--violet);
}

.accordion__years:active {
  border-top: 1px solid #7943A4;
}

.accordion__title-years {
  transition: color 0.2s ease-in-out;
}

.accordion__years:hover .accordion__title-years {
  color: var(--violet);
}

.accordion__years:active .accordion__title-years {
  color: #7943A4;
}

.open .accordion__artists {
  border-top: 1px solid #CACACA;
}

.open.accordion__item:hover .accordion__artists {
  border-top: 1px solid var(--violet);
  transition: border-top 0.2s ease-in-out;
}

.accordion__button-years {
  position: relative;
  top: 6px;
  height: 50px;
  width: 50px;
  margin-left: auto;
}

.accordion__button-years::after {
  content: '';
  position: absolute;
  height: 46px;
  width: 46px;
  border: 2px solid #ECECEC;
  border-radius: 50%;
  background-color: #ECECEC;
}

.accordion__years:hover .accordion__button-years::after {
  border: 2px solid var(--violet);
  background-color: var(--violet);
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.accordion__years:active .accordion__button-years::after {
  border: 2px solid #D1A9F0;
  background-color: #7943A4;
}

.accordion__arrow {
  position: relative;
  top: 16px;
  left: 19px;
  z-index: 2;
}

.accordion__arrow::after {
  content: '';
  position: absolute;
  width: 11.8px;
  height: 11.8px;
  border-top: 1px solid var(--black);
  border-left: 1px solid var(--black);
  border-bottom: none;
  border-right: none;
  transform: rotate(225deg);
}

.accordion__years:hover .accordion__arrow::after {
  border-top: 1px solid var(--white);
  border-left: 1px solid var(--white);
  transition: border-top 0.2s ease-in-out, border-left 0.2s ease-in-out;
}

.open .accordion__arrow::after {
  top: 4.5px;
  transform: rotate(45deg);
}

.accordion__artists {
  height: 343px;
  padding: 25px 26px 10px 0;
  column-width: 201px;
  column-gap: 0;
  column-fill: auto;
}

.artists__item {
  margin: 0;
  padding: 0 0 0 4px;
}

.artists__link_active {
  color: var(--violet);
}

.artists__link {
  padding: 0;
  transition: border-bottom 0.2s ease-in-out, color 0.2s ease-in-out;
}

.artists__link:hover {
  border-bottom: 1px solid var(--violet);
  color: var(--violet);
}

.artists__link:active {
  border-bottom: none;
  color: #7943A4;
}

.catalog__title {
  margin: 0 39px 0 0;
}

.catalog__country-nav {
  padding-top: 5px;
}

.catalog__country-tab:not(:last-child) {
  margin-right: 46px;
}

.catalog__btn_france {
  background: url(../img/flag1.svg) no-repeat 50% 50%;
}

.catalog__btn_germany {
  background: url(../img/flag2.svg) no-repeat 50% 50%;
}

.catalog__btn_italy {
  background: url(../img/flag3.svg) no-repeat 50% 50%;
}

.catalog__btn_russia {
  background: url(../img/flag4.svg) no-repeat 50% 50%;
}

.catalog__btn_belgium {
  background: url(../img/flag5.svg) no-repeat 50% 50%;
}

.catalog__btn {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0);
  background-size: cover;
  transition: filter 0.2s ease-in-out;
}

.catalog__btn::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  height: 62px;
  width: 62px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
}

.catalog__btn_active {
  position: relative;
}

.catalog__btn_active::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  height: 62px;
  width: 62px;
  border: 2px solid var(--violet);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
}

.catalog__btn:focus {
  border: 2px solid var(--violet);
  outline: none;
}

.catalog__btn:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog__btn:active {
  border: 2px solid var(--violet);
}

.catalog__content {
  display: none;
}

.catalog__content_active {
  display: flex;
}

.catalog__artist {
  display: none;
  max-width: 47%;
  margin-right: auto;
}

.catalog__artist_active {
  display: block;
}

.catalog__artist-img {
  margin: 0 0 18px 0;
  max-width: 100%;
}

.catalog__artist-name {
  margin: 0 0 10px 0;
}

.catalog__years-life {
  margin: 0 0 6px 0;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.catalog__artist-text {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
}

.events {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 39px;
}

.events__item {
  position: relative;
  min-height: 700px;
  width: 31.25%;
  margin-bottom: 50px;
  padding: 0 18px 40px 50px;
  border: 1px solid #CACACA;
}

.events__item:not(:nth-child(3n)) {
  margin-right: 3.125%;
}

.events__item:not(:nth-child(-n+3)) {
  display: none;
}

.events__swiper {
  width: 100%;
}

.events__fon_first {
  background: url(../img/events1.jpg) no-repeat 50% 0;
}

.events__fon_second {
  background: url(../img/events2.jpg) no-repeat 50% 0;
}
.events__fon_third {
  background: url(../img/events3.jpg) no-repeat 50% 0;
}
.events__fon_fourth {
  background: url(../img/events4.jpg) no-repeat 50% 0;
}
.events__fon_fifth {
  background: url(../img/events5.jpg) no-repeat 50% 0;
}

.events__fon {
  height: 298px;
  margin: 0 -18px 13px -50px;
  padding: 0;
  background-size: cover;
}

.events__time {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #999;
}

.events__time_bottom {
  margin-bottom: 5px;
}

.events__exhibition-name {
  margin: 0 0 3px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--gray-dark);
}

.events__text {
  width: 93%;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.events__link {
  position: absolute;
  bottom: 40px;
  font-size: 16px;
  line-height: 32px;
  border-bottom: 1px solid var(--white);
  color: var(--violet);
  transition: border-bottom .2s ease-in-out;
}

.events__link:hover {
  border-bottom: 1px solid var(--violet);
}

.events__btn {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 2px solid var(--violet);
  color: var(--violet);
  transition: color 0.3s ease-in-out;
  z-index: 5;
}

.events__btn:hover {
  color: var(--white);
}

.events__swiper-pagination {
  width: 100px;
  height: 20px;
}

.swiper-container-cube .swiper-cube-shadow:before {
  background: rgba(0, 0, 0, 0);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7.5px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #CACACA;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #666;
}

.events__btn_hidden {
  display: none;
}

.events__item_active.events__item {
  display: block;
}

@media (max-width: 1400px) {
  .search,
  .burger {
    position: relative;
    display: block;
    z-index: 13;
  }

  .search {
    margin-left: 8px;
  }

  .logo {
    position: relative;
    margin-left: auto;
    z-index: 13;
  }

  .logo__img {
    width: 187px;
  }

  .main-header__container {
    padding-top: 26.8px;
    padding-bottom: 22.37px;
  }

  .main-header__list,
  .main-header__enter{
    flex-direction: column;
  }

  .main-header__menu {
    position: fixed;
    flex-direction: column;
    align-items: baseline;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    padding: 0 20px;
    border-top: 100px solid rgba(0, 0, 0, 0);
    color: #fff;
    overflow: auto;
    background-color: var(--black);
    z-index: 11;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }
  
  .main-header__list_vertical {
    border-top: 3px solid var(--violet);
    border-bottom: 3px solid var(--violet);
  }
  
  .main-header__item_vertical {
    margin: 15px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }

  .menu.main-header__enter,
  .menu.main-header__menu {
    transform: translateX(249px);
  }

  .main-header__enter{
    position: absolute;
    flex-direction: column;
    align-items: baseline;
    top: 580px;
    left: -250px;
    width: 250px;
    padding: 7px 20px;
    color: #fff;
    overflow: auto;
    background-color: var(--black);
    z-index: 12;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }

  .secondary-header {
    display: none;
  }

  .banner {
    top: 0;
    min-height: 668px;
  }

  .banner__block {
    padding: 113px 45px 0 50px;
  }
  
  .banner::before {
    background: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash1024.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }

  .banner__headline {
    margin: 0 0 11px -5px;
  }
  
  .banner__text {
    max-width: 73%;
    margin-bottom: 133px;
  }

  .about {
    padding-top: 80px;
  }
  
  .about__text {
    max-width: 100%;
  }
  
  .gallery__text_authorization {
    max-width: 284px;
  }
  
  .gallery__form {
    max-width: 280px;
  }

  .choices {
    width: 280px;
  }
  
  .gallery__swiper-container {
    max-width: 594px;
    max-height: 680px;
  }
  
  .gallery__slide {
    min-width: 280px;
    min-height: 280px;
  }
  
  .catalog__text {
    max-width: 100%;
  }

  .catalog__country-nav {
    padding-top: 15px;
  }
  
  .accordion__artists {
    height: 440px;
    padding: 25px 0 10px 0;
    column-width: 190px;
    column-gap: 30px;
  }

  .catalog__artist {
    max-width: 47%;
  }

  .catalog__accordion {
    width: 47.2%;
  }

  .catalog__artist {
    max-width: 47.4%;
  }

  .events__item {
    padding: 0 17px 50px 35px;
  }

  .events__fon {
    margin: 0 -17px 13px -35px;
  }

  .events__text {
    width: 95%;
  }

  .events__link {
    bottom: 47px;
  }

}

@media (max-width: 1200px) {  
  .events__item {
    min-height: 683px;
  }

  .events__fon {
    height: 200px;
  }

  .events__time_bottom {
    margin-bottom: 3px;
  }
}

@media (max-width: 992px) {
  
  .banner::before {
    background: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash768.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .banner__text {
    max-width: 100%;
    margin-bottom: 131px;
  }

  .banner__headline {
    margin: 0 0 13px -5px;
  }

  .second-title {
    margin: 0 0 16px 0;
  }

  .about {
    padding-bottom: 70px;
  }

  .gallery {
    padding-bottom: 70px;
  }

  .gallery__container {
    flex-direction: column;
  }

  .gallery__form {
    margin-right: 0;
    margin-bottom: 83px;
  }
  
  .gallery__text_authorization {
    position: static;
    max-width: 100%;
  }

  .gallery__swiper {
    margin-bottom: 30px;
  }

  .gallery__swiper,  
  .gallery__swiper-container {
    max-width: 100%;
    margin-left: 0;
  }
  
  .gallery__slide {
    min-height: 280px;
  }

  .accordion__artists {
    height: 343px;
    column-gap: 25px;
    column-width: 180px;
  }

  .catalog__content {
    flex-direction: column-reverse;
  }

  .catalog__text {
    margin-bottom: 20px;
  }

  .catalog__artist {
    max-width: 100%;
    margin-right: 0;
  }

  .catalog__artist-img {
    margin: 0 0 20px 0;
  }

  .catalog__accordion {
    width: 100%;
    margin-bottom: var(--main-padding);
  }

  .catalog__title {
    margin: 0 auto 0 0;
  }
  
  .catalog__country-nav {
    padding-top: 3px;
  }
  
  .catalog__country-tab:not(:last-child) {
    margin-right: 49px;
  }

  .events {
    padding-top: 70px;
  }
 
  .events__item {
    width: 47.45%;
  }

  .events__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .events__item:not(:nth-child(2n)) {
    margin-right: 5.1%;
  }

  .events__item:not(:nth-child(-n+2)) {
    display: none;
  }

  .events__item_active.events__item {
    display: block;
  }

  .events__exhibition-name {
    width: 95%;
  }
}

@media (max-width:767px) {

  .banner__headline {
    font-size: 48px;
    line-height: 56px;
  }

  .banner__text {
    font-weight: 400;
  }

  .gallery {
    padding: 50px 0 70px 0;
  }

  .gallery__form {
    max-width: 290px;
    width: 100%;
  }

  .gallery__swiper-container {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .gallery__slide {
    min-height: 367px;
  } 

  .gallery__navigation {
    margin: 20px auto;
  }

  .gallery__text_authorization {
    margin-bottom: 2px;
  }

  .catalog__headline {
    align-items: flex-start;
    flex-direction: column;
  }

  .events__item {
    min-height: 800px;
  }

}

@media (max-width: 576px) {
  .container {
    padding: 0px 15px;
  }

  .btn {
    padding: 9px 15px;
    font-size: 12px;
    line-height: 16px;
  }

  .banner__headline {
    min-width: 100%;
    margin: 0 0 12px 0;
    font-size: 34px;
    line-height: 44px;
  }

  .second-title {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .third-title {
    font-size: 18px;
    line-height: 32px;
  }

  .search__img {
    width: 16px;
    height: 16px;
  }

  .search {
    margin-left: 4px;
  }
  
  .burger__img {
    width: 20px;
    height: 15px;
  }

  .main-header__container {
    padding-top: 9px;
    padding-bottom: 6px;
  }

  .logo__img {
    width: 97px;
  }

  .main-header__menu {
    top: 0;
    left: -150px;
    width: 150px;
    padding: 0 15px 7px 15px;
    border-top: 43px solid rgba(0, 0, 0, 0);
  }

  .main-header__item_vertical {
    font-size: 14px;
    line-height: 18px;
  }

  .menu.main-header__enter,
  .menu.main-header__menu {
    transform: translateX(149px);
  }

  .main-header__enter{
    top: 410px;
    left: -150px;
    width: 150px;
    padding: 7px 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .main-header__enter-link::after {
    padding-top: 4px;
    width: 10px;
    height: 10px;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 310px;
  }

  .banner__block {
    padding: 33px 27px 12px 27px;
  }
  
  .banner::before {
    background: url(../img/birmingham-museums-trust-MK_98NuC4-4-unsplash320.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }

  .banner__btn {
    margin-bottom: 25px;
    padding: 9px 15px;
    font-size: 12px;
    line-height: 16px;
  }

  .banner__text {
    margin-bottom: 43px;
    font-size: 12px;
    line-height: 16px;
  }

  .about {
    margin: var(--main-padding) 0 41px 0;
  }
  
  .about__text {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: normal;
  }

  .btn::before {
    top: -6px;
    left: -6px;
    width: 104%;
    height: 123%;
  }

  .gallery {
    padding-bottom: 66px;
  }

  .gallery__swiper {
    margin-bottom: 0;
  }

  .gallery__form {
    margin-bottom: 117px;
  }

  .swiper-button-prev {
    margin-right: 14px;
  }

  .swiper-pagination {
    margin-right: 14px;
  }

  .catalog {
    padding-top: 80px;
  }

  .catalog__headline {
    margin-bottom: 20px;
  }

  .catalog__text {
    display: none;
  }

  .accordion__artists {
    height: auto;
    padding: 17px 0 22px 0;
  }

  .accordion__years {
    padding: 19px 0 20.5px 0;
  }

  .accordion__button-years {
    top: 0;
    height: 30px;
    width: 30px;
  }
  
  .accordion__button-years::after {
    height: 26px;
    width: 26px;
  }
  
  .accordion__arrow {
    top: 10px;
    left: 11px;
  }
  
  .accordion__arrow::after {
    width: 7px;
    height: 7px;
  }
  
  .open .accordion__arrow::after {
    top: 2.5px;
  }

  .catalog__country-tab:not(:last-child) {
    margin-right: 28px;
  }

  .catalog__title {
    margin-bottom: 2px;
  }
  
  .catalog__btn {
    width: 36px;
    height: 36px;
  }
  
  .catalog__btn::after {
    top: -6px;
    left: -6px;
    height: 40.5px;
    width: 40.5px;
  }
  
  .catalog__btn_active::after{
    top: -6px;
    left: -6px;
    height: 40.5px;
    width: 40.5px;
  }

  .catalog__artist-img {
    margin: 0 0 10px 0;
  }

  .catalog__artist-name {
    margin: 0 0 12px 0;
    font-size: 24px;
  }

  .catalog__years-life {
    margin: 0 0 8px 0;
  }

  .catalog__artist-text {
    max-width: 99%;
  }

  .events {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .events__item:not(:nth-child(-n)) {
    display: block;
    width: 100%;
  }

  .events__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .events__list {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }

  .events__item {
    margin-bottom: 10px;
    min-height: 683px;
  }

  .events__swiper {
    margin-bottom: 50px;
  }

  .events__btn {
    display: none;
  }

  .events__item {
    padding: 0 10px 50px 27px;
  }

  .events__fon {
    margin: 0 -10px 13px -27px;
  }

  .events__time_bottom {
    margin-bottom: 5px;
  }

  .events__exhibition-name {
    width: 100%;
    margin-bottom: 38px;
  }
}


@media (max-width: 320px) {
  .banner__headline {
    font-size: 32px;
    line-height: 37px;
  }

  .btn::before {
    height: 122%;
  }

  .choices {
    width: 100%;
  }

  .gallery__text_filter {
    margin-bottom: 5px;
  }
  

}